<div class="flex flex-col items-start">
  <%= link_to "New Curation", new_admin_curation_path %>
  <table class="w-auto">
    <thead>
      <tr>
        <th>Priority</th>
        <th>Listed?</th>
        <th>Name</th>
        <th>Display Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "index", collection: @curations, as: :curation %>
    </tbody>
  </table>
</div>