.replace-this-text {
  margin: 0.25em 0;
  padding: 0.15em;
  border: 2px solid red;
  background: #F5DBD7;
}

.expander_toggle {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: start;
}

.w-auto {
  width: auto;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.font-bold {
  font-weight: bold;
}