<div class='replace-this-text'>
  <h2>G'day!</h2>
  <p>
    Make a new file <code>app/views/calagator/site/_description.html.erb</code> and describe your site there!
    <br/>
    (This text comes from a file in that location in the <%= distro_name.downcase %> gem)
  </p>
</div>
