      <div id="top_footer">
        <%= URI.parse(Calagator.url).host %>
        -
        <%= Calagator::GEMSPEC %>
        <%= Calagator::VERSION %>
        &nbsp;
        &nbsp;
        &nbsp;
      </div>

