<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= organization.display_name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organization.description %>
  </p>

</div>
